.bubbleMenu{
    background-color: white;
}

.editor{
    font-family: "sans-serif";
    max-width: 100%;
}

.ProseMirror{
    width: 40vw;
}

.ProseMirror p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: "Press / to open the command menu ";
    float: left;
    height: 0;
    pointer-events: none;
  }