.bubbleMenu {
  background-color: white;
}

.editor {
  font-family: "sans-serif";
  max-width: 100%;
  color:#37352F !important;

}

.ProseMirror {
  width: 100%;
  max-width: 50vw;
}

.multiColumn .ProseMirror p {
  min-width: 20vw;
}

.ProseMirror p {
  min-width: 40vw;
}
.ProseMirror:focus p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: "Press / to open the command menu ";
  float: left;
  height: 0;
  pointer-events: none;
}

img{
  border-radius: 10px;
}