.line{
    display: flex;
    width: 100%;
}

.line:hover > .lineOptions{
    visibility: visible;

}

.lineOptions{
    display: flex;

    padding: 0px 10px;
    margin: 0px;
    cursor: pointer;
    opacity: 0.3;
    visibility: hidden;
}

.menuImg{
    width: 30px;
    margin: 5px 20px 5px 0px ;
}

.multiColumnBox{
    display: flex;
    background-color: red;
    border: 1px solid black;
}
